<h1> Average Moods by User </h1>

  <div>
    <%= bar_chart User.includes(:moods).group(:name).average(:level) %>
</div>

<h1>Moods Admin Only</h1>
<p><a href="/new_mood">Add a New Mood</a></p>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>User</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @moods.each do |mood| %>
    <tr>
          <td><%= mood.level %></td>
          <td><%= mood.user_id %></td>
          <td><%= mood.action_id %></td>
          <td><a href="/moods/<%= mood.id %>">Show</a>
        </td>
      <td><a href="/moods/<%= mood.id %>/edit">Edit</a></td>
      <td><a href="/moods/<%= mood.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

