<h1>Action #<%= @action.id %></h1>

<div>
  <strong>Description</strong>:<br />
  <p><%= @action.description %></p>
</div>
<div>
  <strong>User</strong>:<br />
  <p><%= @action.user_id %></p>
</div>

<a href="/actions/<%= @action.id %>/edit">Edit</a> |
<a href="/actions/<%= @action.id %>/destroy">Destroy</a>
