<h1>User #<%= @user.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.email %></p>
</div>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>

<div class="container">
   <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKnEftL0s1WdMclajZXUoI3TJrvORV1xu0-cr6qMdbbDqGzOesl1nwIw" alt="profile picture">
        <div class="caption">
          <p><strong><%=@user.name%>'s moods</strong></p>
    <%@user.moods.each do |mood|%>
          <p><%=mood.level%>0%</p>
        <div class="progress">
     <%if mood.level == 0 or mood.level == 1 or mood.level== 2 or mood.level == 3%>
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%=mood.level%>0" aria-valuemin="0" aria-valuemax="100" style="width:<%=mood.level%>0%">
     <%elsif mood.level == 4 or mood.level == 5 or mood.level== 6%>
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%=mood.level%>0" aria-valuemin="0" aria-valuemax="100" style="width:<%=mood.level%>0%">
<%else%>
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=mood.level%>0" aria-valuemin="0" aria-valuemax="100" style="width:<%=mood.level%>0%">
<%end%>

  </div>
</div>
          <p><a href="/users/<%=@user.id%>/edit" class="btn btn-primary" role="button">Edit</a> </p>
        </div>
<%end%>
      </div>
     </div>

    </div>
</div>

