<%= notice %>
<h1>User #<%= @user.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.email %></p>
</div>

<div> <p><%= @user.name %>'s moods</p> </div>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewMood">
  How are you feeling now?
</button>
<!-- Modal -->
<div class="modal fade" id="NewMood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="myModalLabel">New Mood</h4>
      </div>
      <div class="modal-body">
        <form action="/create_mood">
  <div>
    <label for="level">level</label><br />
    <input id="level" name="level" type="text" />
  </div>
  <div>
    <label for="user_id">Select User</label><br />
    <select id="user_id" name="user_id">
          <%@users.each do |user|%>
             <option value="<%=user.id%>"><%=user.name%></option>
          <% end %>
    </select>
  </div>
  <div>
<!--     <select> INSERT DROPDOWN FOR SELECTING ACTION OR CREATING A NEW ONE copy from the USERS drop down in the nav -->
    <label for="action_id">action_id</label><br />
    <input id="action_id" name="action_id" type="text" />
<!--     </select> -->
  </div>
  <div>
    <input type="submit">
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <div>
    <%= bar_chart @chartData %>
    </div>
<a href="/users/<%= @user.id %>/edit">Edit</a>
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
