<!DOCTYPE html>
<html>
<head>
  <title>MoodRing3</title>
   <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">MoodRing</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li>
<!-- Button trigger modal.
START CONDITIONAL LOGIC FOR WHICH MODAL TO DISPLAY CREATE A NEW USER MODAL, HOW ARE YOU FEELING MODAL-->
<%if session['user_id']%>
<% u = User.find_by_id(session['user_id']) %>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewMood">
  How are you feeling?
</button>
          <%else%>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewUser">
  Create New User
</button>
          <%end%>
<!-- Modal -->
<div class="modal fade" id="NewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="myModalLabel">New User</h4>
      </div>
      <div class="modal-body">
        <form name="input" action="/create_user">
 <input type="string" name="name" placeholder="Type your name here">
 <input type="string" name="email" placeholder="Type your email here">
 <input id="password" name="password" type="password" placeholder="Password">
 <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Password Confirmation">

  <input type="submit" value="Submit">
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--   end New User Modal         -->
<!--    New Mood modal        -->
          <!-- Modal -->
<div class="modal fade" id="NewMood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="myModalLabel">New Mood</h4>
      </div>
      <div class="modal-body">
        <form action="/create_mood">
  <div>
    <label for="level">How are you feeling? (On a scale of 1-10)</label><br />
    <input id="level" name="level" type="text" />
  </div>
  <div>
    <label for="user_id">Who are you?</label><br />
    <select id="user_id" name="user_id">
          <%@users.each do |user|%>
             <option value="<%=user.id%>"><%=user.name%></option>
          <% end %>
    </select>
  </div>
  <div>

    <label for="action_id">What are you doing?</label><br />
    <select id="action_id" name="action_id">
      <%Action.all.each do |action|%>
      <option value="<%=action.id%>"><%=action.description%></option>
      <% end %>
    </select>


  </div>
  <div>
    <input type="submit">
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--    End New Mood modal        -->
        </li>
        <li><a href="/moods">See All Moods</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/search">
        <div class="form-group">
          <input type="search" class="form-control" name="search" placeholder="Name, Level, or Description">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Users drop down <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%@users.each do |user|%>
            <li><a href="/users/<%=user.id%>"><%=user.name%></a></li>
            <% end %>
            <li class="divider"></li>
            <li><a href="/new_user">Create a New User</a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
        <li>
          <%if session['user_id']%>
          <% u = User.find_by_id(session['user_id']) %>
          You're signed in, <%= u.name %>
          <a href="/sessions/destroy"> Sign Out </a>
      <%else%>
          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SignIn">
Sign In
      </button>
      <%end%>
        </li>
      </ul>
      <!-- Sign In Modal -->
<div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="SignInLabel">SignIn</h4>
      </div>
      <div class="modal-body">
        <form align="center" action="/sessions/create">
  <label for="username"> Username </label>
  <input type="text" id="username" placeholder="Your username here" name="username">
  <div>
    <p class="notice"> <%=notice %> </p>
    <label for="password">password</label>
    <input id="password" name="password" type="password" />
  </div>
<input type="submit" name="Submit">
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

</body>
</html>
